PORT=3500
PLESK_VHOSTS_DIR=/var/www/vhosts/systego.net/subdomains
BASE_FRONTEND_DIR=/var/www/vhosts/systego.net/master-builds/frontend-latest
BASE_BACKEND_DIR=/var/www/vhosts/systego.net/master-builds/backend-latest
LIVE_FRONTEND_DIR=/var/www/vhosts/systego.net/httpdocs
LIVE_BACKEND_DIR=/var/www/vhosts/systego.net/subdomains/bcknd
API_KEY=your-plesk-api-key-here
EXCLUDED_PATHS=node_modules,.env,.git,.htaccess,uploads,tmp,logs,startup-error.log,app.js,.vite,dist_cache
